/*LOGIN PAGE*/
body{
    margin: 0;
}
.fondo{
    background-image: url(https://d3t4nwcgmfrp9x.cloudfront.net/upload/concesionario-evolucionara-espacio-experiencias-cliente.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    background-size: cover;
}
.overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.897);
    z-index: -1;
    width: 100%;
    height: 100%;
}
.titulo_login{
    padding-top: 60px;
    margin:auto;
    color:white;
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.login_content{
    background-color:white;
    padding: 10px;
    width: 400px;
    height: 270px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    margin:50px auto;
    box-shadow: 0 0 px 30px rgb(0, 0, 0);
}
.login_input{
    background-color: white;
    padding: 10px 30px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 11px;
    border: solid 2px black;
    transition: 0.2s;
}
.login_input:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
.login_input:focus {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    outline: none; 
}
.login_terminos{
    margin:center;
    margin-bottom: 20px;
    border:solid 3px black;
    height: 15px;
}
.login_terminos_label{
    text-align: center;
}
.login_button{
    background-color:rgb(17, 17, 17);
    color: white;
    padding: 10px 30px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 11px;
    border: solid 2px rgb(2, 2, 2);
    transition: 0.2s;
}
.login_button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 2px 0 black;
    cursor: pointer;
}
login_button:active {
    background-color: rgb(20, 20, 20);
    transform: scale(0.98);
    }

    